/* bg hero */
.bg-hero {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    230deg,
    rgba(255, 255, 255, 1) 44%,
    rgba(198, 230, 225, 1) 67%,
    rgba(27, 156, 133, 1) 100%
  );
}
/* bg hero end */

.pasfoto {
  border-radius: 0 0 45% 45%;
  /* overflow: hidden; */
  /* display: inline-block; */
  /* left: 10%; */
}

/* Tombol dengan animasi hover */
.hover-button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #a40e4c;
}

.hover-button:hover {
  background-color: #f9a03f;
  transform: translateY(-5px);
}

/* animate img illustration */
.avoid-cursor {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.avoid-cursor:hover {
  transform: translate(calc(-2% + 5px), calc(-2% + 5px));
}
/* animate img illustration end */

/* animasi tangan */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  animation: wave 4s infinite steps(10);
  animation-timing-function: linear;
}

/* animasi tangan end */

/* animated typing */
.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.07em solid #000; /* Garis imitasi cursor */
  animation: typing 2.5s steps(70, end), blink-caret 0.85s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@media (max-width: 768px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  70% {
    border-color: #000;
  }
}
/* animated typing end */

/* hover animated readmore */
.read-more:hover svg {
  animation: moveRight 0.3s ease-in-out forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
/* hover animated readmore end */

/* fixing navbar */
section {
  padding-top: 4rem;
}
/* fixing navbar end */
nav {
  backdrop-filter: blur(1em);
}

.scroll-border {
  box-shadow: inset 0 -1px 00 rgba(0, 0, 0, 0.1);
}

/* hamburger animation */
#hamburger-path,
#close-path {
  transition: stroke 0.3s ease;
}
/* hamburger animation end */

/* section like */
.transition-slow {
  transition-duration: 500ms;
}

.transform-gpu {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* section like end */
